aiohttp==3.7.4.post0
aiomysql==0.1.1
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
environs==9.5.0
greenlet==1.1.2
idna==3.3
Mako==1.2.1
MarkupSafe==2.1.1
marshmallow==3.17.0
multidict==6.0.2
packaging==21.3
py-cord==2.0.0rc1
PyMySQL==1.0.2
pyparsing==3.0.9
SQLAlchemy==1.4.39
typing_extensions==4.3.0
yarl==1.7.2
